.icon-list {
    height: 30px;
    width: 30px;
    justify-items: center;
}

.div-icon {
    margin: 5px
}

.align-center {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.align-center-active {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 3px;
    border: 2px solid #35D1F8;
    padding:0;
    cursor: pointer;
}

.p-3 {
    padding: 0.2rem 1rem 0.2rem 1rem!important;
}