.page-title {
  color: cadetblue;
}

.buttons {
  display: flex;
  justify-content: center;
}

.delete {
  background-color: crimson;
  width: 70px;
  height: 30px;
}

.edite {
  background-color: cornflowerblue;
  width: 70px;
  height: 30px;
}