* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.all-cards{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #FAFAFA;
}

.card {
	width: 230px;
  height: 330px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.pet-image {
  height: 230px;
	width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.pet-info {
  margin-top: 5px;
  margin-bottom: 5px;
}

p {
  font-size: 1.2em;
}