* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.h2-title {
	font-size: 16px;
	color: #686976;
	margin-left: 30px;
}

.all-cards{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card {
	width: 220px;
  height: 300px;
	overflow: hidden;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.card:hover {
	border: 3px #35d1f8 solid;
}

.pet-info:hover {
	text-decoration: none;
	color: #686976;;
}

.pet-image {
  height: 200px;
	width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.pet-info {
  margin: 5px;
	flex-direction: column;
	color: #46709E;
	font-weight: 500;
}

.pet-name {
	font-size: 1.2em;
	margin-bottom: 5px;
}

@media (max-width: 600px) {
 .all-cards {
	 flex-direction: column;
 }
}