.header {
  background-color: #35d1f8;
}

.navbar-header {
  float: left;
  text-align: left;
  width: 100%;
}

.navbar {
  padding: 0px;
  margin: 0px;
}

.navbar-logo {
  height: 2.3rem;
}

.navbar-brand {
  float: none;
}
