.header {
  background-color: #35d1f8;
}

.navbar-header {
  float: left;
  padding: 15px;
  text-align: center;
  width: 100%;
}

.navbar-logo {
  height: 2.3rem;
}

.navbar-brand {
  float: none;
}
