.input-line {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(147, 147, 151)
}

.div-center {
    text-align: center;
    margin: 0 15px 0 15px;     
}